# Dependencies
node_modules

# Build output
dist
dist-ssr
build
*.local

# Cloudflare
.wrangler
.dev.vars
wrangler.toml

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Testing
coverage

# TypeScript
*.tsbuildinfo

# Misc
*.local
